form {
  div {
    display: inline-block;
    padding: 0.5rem 0.5%;
    input {
      width: 100%;
    }
  }
  .short {
    width: 12.2%;
  }
  .medium {
    width: 24.8%;
  }
  .long {
    width: 35%;
  }
  .huge {
    width: 50%;
  }
  .right {
    margin-left: 2.5%;
  }
  .ng-hide:not(.ng-hide-animate) {
    display: block !important;
    visibility: hidden;
  }
  #state {
    width: 80%;
  }
  .icon-chevron {
    display: inline-block;
    text-align: right;
    border-bottom: 1px solid border-color(underline);
    padding-bottom: 10px;
    margin-left: -5px;
    width: 20%;
  }
  .expanded {
    text-align: left;
    border-bottom: none;
    border-top: 2px solid border-color(highlight);
    padding-bottom: 11px;
    padding-top: 10px;
    margin-top: -10px;
    transform: rotate(180deg);
  }
  .dropdown {
    position: absolute;
    z-index: 100;
  }
}
