form {
  > div {
    display: inline-block;
    margin: 0.5rem 1.5% 0.5rem 0;
    input {
      width: 100%;
    }
  }
  .short {
    width: 12.2%;
  }
  .medium {
    width: 26.4%;
  }
  .long {
    width: 39%;
  }
  .huge {
    width: 55%;
  }
  .right {
    margin-left: 3.5%;
    margin-right: 0;
  }
  .ng-hide:not(.ng-hide-animate) {
    display: block !important;
    visibility: hidden;
  }
  #state {
    width: 79%;
  }
  .select {
    position: relative;
  }
  .icon-chevron {
    border-bottom: 1px solid border-color(underline);
    padding-bottom: 10px;
    margin-left: -6px;
    width: 20%;
  }
  .expanded {
    border-bottom: none;
    border-top: 2px solid border-color(highlight);
    padding-bottom: 11px;
    padding-top: 10px;
    margin-top: -10px;
  }
  .dropdown {
    width: 100%
  }
}
