form {
  div {
    display: inline-block;
    padding: 0.5rem 0.5%;
    input {
      width: 100%;
    }
  }
  .short {
    width: 12.2%;
  }
  .medium {
    width: 24.8%;
  }
  .long {
    width: 35%;
  }
  .huge {
    width: 50%;
  }
  .right {
    margin-left: 2.5%;
  }
  .ng-hide:not(.ng-hide-animate) {
    display: block !important;
    visibility: hidden;
  }
}
