.location-item {
  font-size: $font-larger;
  padding: 3rem 5%;
  border-top: 2px solid border-color(form);
  border-bottom: 2px solid border-color(form);
  background-color: background-color(offset);
  > a {
    color: font-color(secondary);
    > .icon-chevron {
      margin-left: 1%;
    }
    .icon-plus {
      margin-right: 1.5%;
    }
  }
  > form {
    margin-top: 1rem;
  }
  .focus {
    color: font-color(highlight);
    .icon-chevron {
      transform: rotate(180deg);
    }
  }
}
