.location {
  button {
    width: 10rem;
    margin: 0 1%;
  }
  .create{
    background-color: background-color(secondary);
    a {
      color: font-color(highlight);
      &:hover {
        color: font-color(hover);
      }
    }
  }
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    .save {
      color: font-color(disabled);
      background-color: background-color(save);
      border-color: background-color(save);
      &:hover {
        @extend %btn-hover;
      }
      &:active {
        @extend %btn-active;
      }
    }
  }
}
