.app {
  .link-dropdown {
    display: inline-block;
    position: relative;
    a {
      color: font-color(highlight);
      &:hover {
        color: font-color(hover);
      }
    }
    .focus {
      color: font-color(hover);
      .icon-chevron {
        transform: rotate(180deg);
      }
    }
    .dropdown {
      width: calc(100% - 20px);
    }
  }
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
