.app {
  .link-dropdown {
    width: 150px;
    position: relative;
    .dropdown {
      width: 100%;
    }
  }
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
