main {
  display: flex;
  > section {
    flex-grow: 1;
  }
  .main-nav {
    font-size: $font-larger;
    margin-right: calc(5% - 30px);
    ul {
      li {
        margin-bottom: 1.5rem;
        &:last-child {
          margin-top: 4.5rem;
        }
      }
    }
    span {
      margin-right: 10%;
    }
  }
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
