<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>StudioHQ</title>
    <meta name="description" content="Studio management web application">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.typekit.net/nms7hhe.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body data-ng-app="studioApp">
    <header>
      <h1 class="hidden">StudioHQ</h1>
      <img src="images/logo.svg" alt="StudioHQ logo">
    </header>
    <main data-ng-controller="SettingsCtrl as settingsctrl" class="app">
      <h2>Happy Dance & Music</h2>
      <div class="link-dropdown">
        <a
          data-ng-focus="settingsctrl.linkDropdown = true"
          data-ng-blur="settingsctrl.linkDropdown = false"
          data-ng-class="{ focus: settingsctrl.linkDropdown }"
          href="#">
          {{ settingsctrl.locations[0].display }}
          <span class="icon-chevron"></span>
        </a>
        <ul data-ng-if="settingsctrl.linkDropdown" class="dropdown">
          <li data-ng-repeat="location in settingsctrl.locations">
            {{ location.display }}
          </li>
        </ul>
      </div>
      <nav>
        <ul>
          <li><a href="#/dashboard"><span class="icon-dashboard"></span>Dashboard</a></li>
          <li><a href="#/classes"><span class="icon-classes"></span>Classes</a></li>
          <li><a href="#/students"><span class="icon-students"></span>Students</a></li>
          <li><a href="#/payment"><span class="icon-payment"></span>Payment</a></li>
          <li><a href="#/staff"><span class="icon-staff"></span>Staff</a></li>
          <li><a href="#/settings"><span class="icon-settings"></span>Settings</a></li>
          <li><a href="#/logout"><span class="icon-logout"></span>Log Out</a></li>
        </ul>
      </nav>
      <section class="settings">
        <h3>Studio Settings</h3>
        <nav>
          <ul>
            <li data-ng-click="settingsctrl.view = 'company'"><a href="#/settings/company">Company</a></li>
            <li data-ng-click="settingsctrl.view = 'locations'"><a href="#/settings/locations">Locations</a></li>
            <li data-ng-click="settingsctrl.view = 'class'"><a href="#/settings/classes">Class Types</a></li>
            <li data-ng-click="settingsctrl.view = 'managers'"><a href="#/settings/managers">Managers</a></li>
            <li data-ng-click="settingsctrl.view = 'billing'"><a href="#/settings/billing">Billing Info</a></li>
            <li data-ng-click="settingsctrl.view = 'merchant'"><a href="#/settings/merchant">Merchant Account</a></li>
          </ul>
        </nav>
        <section data-ng-if="settingsctrl.view === 'locations'" class="location">
          <h4 class="hidden">Locations</h4>
          <ul>
            <li data-ng-repeat="location in settingsctrl.locations" class="location-item">
              <a
                data-ng-click="settingsctrl.edit(location)"
                data-ng-class="{ focus: settingsctrl.focus.name === location.name }"
                href="#/settings/locations/{{ location._id }}">
                {{ location.display }}
                <span class="icon-chevron"></span>
              </a>

              <location-form
                data-ng-if="location.editing"
                data-location="location"
                data-states="settingsctrl.states">
              </location-form>

            </li>
            <li class="location-item">
              <a href="#/settings/locations/create"><span class="icon-plus"></span>Create New Location</a>
            </li>
          </ul>
          <button
            data-ng-disabled="settingsctrl.btnsDisabled"
            data-ng-click="settingsctrl.cancel()">
            Cancel
          </button>
          <button
            data-ng-disabled="settingsctrl.btnsDisabled"
            form="form-{{ settingsctrl.focus._id }}"
            type="submit">
            Save Changes
          </button>
        </section>
      </section>
    </main>
    <script src="js/main.js"></script>
  </body>
</html>
