body {
  font-family: $font-primary;
  color: font-color();
  background-color: background-color();
  width: 100%;
}

input, button {
  font-family: inherit;
}

input {
  font-size: $font-large;
  font-weight: $font-regular;
  color: font-color(secondary);
  padding: 0.3em 0;
  border-bottom: 1px solid border-color(underline);
  &:focus {
    border-bottom: 2px solid border-color(highlight);
    padding-bottom: calc(0.3em - 1px);
  }
  &::placeholder {
    color: font-color(blend);
  }
}

label {
  font-size: $font-small;
  color: font-color(blend);
  display: block;
}

button {
  font-size: $font-tiny;
  color: font-color(cancel);
  padding: 0.7rem 0;
  border: 1px solid border-color(cancel);
  border-radius: 4px;
  &:hover {
    @extend %btn-hover;
  }
  &:active {
    @extend %btn-active;
  }
  &:disabled {
    color: font-color(disabled);
    background-color: background-color(disabled);
    border-color: background-color(disabled)
  }
}

a {
  color: inherit;
  &:focus {
    color: font-color(highlight);
  }
}
