html {
  font-size: $font-base;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, header, main, section, ul, li {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
