html {
  font-size: $font-base;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, header, main, section, div, input, h1, h2, h3, ul, li, p, a {
  margin: 0;
  padding: 0;
}

body, h1, h2, h3 {
  font-weight: normal;
}

input {
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none
}

button {
  background: none;
}
