html {
  font-size: $font-base;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, header, main, section, h1, h2, h3, ul, li, p, a {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-decoration: none;
}

li {
  list-style: none;
}
