<form data-ng-submit="" id="one">
  <div class="huge">
    <label data-ng-show="location.name" for="location-name">Location Name</label>
    <input
      data-ng-model="location.name"
      id="location-name"
      type="text"
      placeholder="Location Name">
  </div>
  <div class="long right">
    <label data-ng-show="location.contactEmail" for="contact-email">Contact Email</label>
    <input
      data-ng-model="location.contactEmail"
      id="contact-email"
      type="text"
      placeholder="Contact Email">
  </div>
  <div class="medium">
    <label data-ng-show="location.address" for="address">Address</label>
    <input
      data-ng-model="location.address"
      id="address"
      type="text"
      placeholder="Address">
  </div>
  <div class="medium">
    <label data-ng-show="location.addressTwo" for="address-two">Address 2</label>
    <input
      data-ng-model="location.addressTwo"
      id="address-two"
      type="text"
      placeholder="Address 2">
  </div>
  <div class="long right">
    <label data-ng-show="location.replyEmail" for="reply-email">Reply To Email</label>
    <input
      data-ng-model="location.replyEmail"
      id="reply-email"
      type="text"
      placeholder="Reply To Email">
  </div>
  <div class="medium">
    <label data-ng-show="location.city" for="city">City</label>
    <input
      data-ng-model="location.city"
      id="city"
      type="text"
      placeholder="City">
  </div>
  <div class="short">
    <label data-ng-show="location.state" for="state">State</label>
    <input
      data-ng-model="location.state"
      id="state"
      type="text"
      placeholder="State">
  </div>
  <div class="short">
    <label data-ng-show="location.zip" for="zip">Zip</label>
    <input
      data-ng-model="location.zip"
      id="zip"
      type="text"
      placeholder="Zip">
  </div>
  <div class="medium right">
    <label data-ng-show="location.phone" for="phone">Phone</label>
    <input
      data-ng-model="location.phone"
      id="phone"
      type="text"
      placeholder="Phone">
  </div>
</form>
